/**
* Footer home15 to home21
**/

.foopart1{
    background-color: #F7F6F2;
    position: relative;
    top: 63.5px;
    padding: 60px 0;
}
.foopart21{
    padding: 20px 0;
}
.foopart22{
    padding: 20px 0;
}
.foopart21 h3{
    font-size: 22px;
    line-height: 33px;
    font-family: 'Poppins', sans-serif !important;
}
.foopart21 p{
    font-size: 15px;
    line-height: 20px;
    color: #808080;
}
.foopart22 input{
    height: 52px;
    width: 410px;
    border: none;
    outline: none;
    box-shadow: none;
}
.foopart22  input::placeholder {
    color: #808080;
    font-size: 15px;
    font-weight: 300px;
    padding-left: 12px;
}
.foopart22 button{
    height: 52px;
    width: 92px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    background-color: #FDFA56;
    color: white;
    position: relative;
    top: -1.5px;
}
@media screen and (max-width:600px){
    .foopart21{
        padding: 5px 0;
    }
    .foopart22{
        padding: 5px 0;
    }   
    .foopart22 input{
        height: 52px;
        max-width: 250px !important;
    }
    .foopart22 button{
        height: 52px;
        width: 92px;
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 12.5px;
        letter-spacing: 0.5px;
        background-color: #FDFA56;
        color: white;
        position: relative;
        top: -1.5px;
    }
}
.foopart2{
    margin: auto;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #FDFA56;
    position: relative;
    top: 30px;
}
.foopart2 .mnb{
    color: white;
    font-size: 19px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: -10px;
    animation-name: foopart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 28px;
    animation-direction: alternate;
}
@keyframes foopart{
    0% {top: 10px;}
    50% {top: 20px;}
    100% {top: 28px;}
}

/* .home15{
    background-color: blue;
} */
.home16{
    padding-top: 70px;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
.home16 h3{
    margin: auto;
    padding-bottom: 4px;
    color: black;
    font-size: 20px;
    font-weight: 550px;
}
.home16 ul{
    padding-top: 8px;
    list-style-type: none;
    /* margin-left: -38px; */
}
.home16 ul li{
    margin: 8px 0;
}
.home16 ul li a{
    color: rgb(68, 67, 67);
    font-weight: 400;
    font-size: 15px;
}
.home16 ul li a:hover{
    color: blue;
    text-decoration: none;
}
.home17{
    width: 80%;
    margin-left: auto !important;
}
.home18{
    width: 100%;
    margin-left: auto !important;
}
.home18 p{
    padding-top: 15px;
}
.home19{
    width: 80%;
    margin-left: auto !important;
}
.home20{
    width: 80%;
    margin-left: auto !important;
}
.home20 li{
    list-style-type: none !important;
    display: flex;
    flex-direction: column !important;
}
.doob-marr-8{
    display: flex;
    padding-top: 10px;
}
.doob-marr-8 a{
    color: black;
    opacity: 0.5;
}
.doob-marr-8 a:hover{
    opacity: 1;
    color: black;
}

@media screen and (max-width: 993px){
    .home20{
        /* width: 60%; */
        margin-left: 0 !important;
    }   
}
@media screen and (max-width: 768px){
    .logimg{
        margin-left: 5px;
    }   
    .home19{
        width: 80%;
        margin: 0 !important;
    }
    .home20{
        width: 80%;
        margin-left: auto !important;
    }
}
@media screen and (max-width: 576px){
    .home16{
        padding-top: 60px;
        width: 100%;
    }
    .doob-marr-8{
        display: flex;
        padding-top: 10px;
        justify-content: center;
    }
    .home17{
        width: 80%;
        text-align: center;
        margin: auto !important;
        padding-top: 20px;
    }
    .home18{
        width: 80%;
        text-align: center;
        margin: auto !important;
        padding-top: 20px;
    }
    .home19{
        width: 80%;
        text-align: center;
        margin: auto !important;
        padding-top: 20px;
    }
    .home20{
        width: 60%;
        text-align: center;
        margin: auto !important;
        padding-top: 20px;
    }
    .home19 ul{
        margin: auto !important
    }
    .home18 ul{
        margin: auto !important
    }
    .home17 ul{
        margin: auto !important
    }  
    .home18 p{
        margin: auto !important;
    } 
}

.home21{
    width: 100%;
    margin-top: 30px;
}
.home21 p{
    padding-top: 10px;
    text-align: center;
    color: rgb(68, 67, 67);
    font-size: 15px;
}
.foot-icon{
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}
/* .foot-icon.frst{
    margin-left: 0;
}
.linktohover:hover{
    color: #FDFA56 !important;
} */
.logimg{
    width: 130px;
}
    
/**
* Navbar
**/