.carousel-item {
    height: 90vh;
    width: 100%;
}

.acarousel-div{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}   

.carousel-title {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: white;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-weight: bolder !important;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 0 10px;
}

.carousel-subtitle {
    font-family: 'Poppins', sans-serif;
    color:  white;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    font-weight: bolder !important;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 10px;
}

.item-one {
    background:  url(../Assets/homebg1.jpg);
    background-size: cover;
    background-position: right;
    opacity: 0.85;
}
.item-two {
    background: url(../Assets/homebg2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.85;
}

.item-three {
    background: url(../Assets/homebg3.jpg);
    background-size: cover;
    background-position: left;
    opacity: 0.85;
}

@media screen and (max-width: 1080px) {

    .carousel-item {
        height: 460px;
    }

    .carousel-title {
        /* padding-top: 140px; */
        font-size: 70px !important;
    }

    .carousel-subtitle {
        font-size: 24px !important;
        opacity: 0;
        display: none;
    }
    
    .item-one {
        background-image: url(../Assets/homebg1.jpg);
        background-size: cover;
    }

    .item-two {
        background-image: url(../Assets/homebg2.jpg);
        background-size: cover;
    }

    .item-three {
        background-image: url(../Assets/homebg3.jpg);
        background-size: cover;
    }
}