.h_order_base{
    text-align: center;
    padding:3rem 3rem;
}

.h_order{
    
    text-align: left;
}
.h_orderdiv{
    padding-bottom: 30px;
    }
.booking_h1{
    font-size: 2.5rem;
}    
@media(max-width:400px){
    .booking_h1{
    font-size: 2rem;
}    
    .h_order{
        text-align: center;
    }
    .h_order_base{
        padding:1rem 1rem;
    }
}